{% extends "base.html" %}
{% block title %} Create App {% endblock %}

{% block content %}

<div class="container">
    <div class="form"><br>
    <h2>Create a New Application</h2>
    
    <form method="POST" action="{{ url_for('apps.index') }}" name = 'Form1'>
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.NewApp(class="form-control") }}
            {% for error in form.NewApp.errors %}
                <span style="color: rgb(255, 0, 0);">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
</div>
{% endblock %}