{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container text-center">
  <h1 class="home-title">Welcome to the Hosting Server</h1>
  <p class="lead mb-4">
    Our service helps front-end developers quickly upload and share their work with the world: 
    <span class="highlight">pet projects</span>, <span class="highlight">landing pages</span>, 
    <span class="highlight">quizzes</span>, and <span class="highlight">cool animations</span>.
  </p>

  
</div>
{% endblock %}
